<div class="header">
    <h1>Storefront - The #1 E-Commerce Shop</h1>
    <nav>
        <ul>
            <li>
                <a
                    routerLink="/dashboard" 
                    routerLinkActive="activeLink" 
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Home
                </a>
            </li>
            <li>
                <a
                    routerLink="/cart"
                    routerLinkActive="activeLink" 
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Cart
                </a>
            </li>
        </ul>
    </nav>
</div>