<h3>Checkout</h3>
<form #form="ngForm" (ngSubmit)="onCheckout()" class="checkout">
  <label>Full Name</label>
  <input
    type="text"
    required
    name="fullName"
    #nameInput="ngModel"
    placeholder="John Doe"
    [(ngModel)]="fullName"
  />
  <label>Address</label>
  <input
    type="text"
    required
    name="address"
    #addressInput="ngModel"
    placeholder="Grand Street 24"
    [(ngModel)]="address"
  />
  <label>City</label>
  <input
    type="text"
    required
    name="city"
    #cityInput="ngModel"
    [(ngModel)]="city"
    placeholder="10108 New York City"
  />
  <label>Credit Card Number</label>
  <input
    type="text"
    required
    name="creditCard"
    [(ngModel)]="creditCard"
    placeholder="66666666666666"
    minlength="8"
    maxlength="19"
    #creditCardInput="ngModel"
  />
  <app-button
    type="submit"
    [disabled]="form.invalid || false"
    variant="primary"
    buttonText="Buy Now"
  ></app-button>
</form>

<div class="errorMessage">
  <div *ngIf="nameInput.invalid && nameInput.dirty">
    <div *ngIf="nameInput.errors?.required">Please enter your full name.</div>
  </div>
  <div *ngIf="addressInput.invalid && addressInput.dirty">
    <div *ngIf="addressInput.errors?.required">
      Please enter your address (street and street number).
    </div>
  </div>

  <div *ngIf="cityInput.invalid && cityInput.dirty">
    <div *ngIf="cityInput.errors?.required">Please enter your city.</div>
  </div>

  <div *ngIf="creditCardInput.invalid && creditCardInput.dirty">
    <div *ngIf="creditCardInput.errors?.required">
      Please enter your credit card.
    </div>
    <div *ngIf="creditCardInput.errors?.minlength">
      Your credit card number must at least 8 digits long
    </div>
  </div>
</div>
